 html {
 	background-color: #FFC04C;
 }

 body {
 	width: 75%;
	margin: 0 auto; 

	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-color: #ffffff;
 }

 #myburger {
    display: block;
   margin: auto;
   align-content: center;
   width: 200px;
   height: 200px;
}

 h1 {
 	text-align: center;
 	font-size: 65px;
 	margin: 50px;
 }

 .burgerAvailable {
 	font-weight: normal;
 	font-size: 20px;
 	text-align: center;

 	border-radius: 25px;
 	width: 50%;
 	margin: 10px;
 	padding: 10px;
 	background-color: #b7ffc2;
 	border: none;
 }

 .burgerAvailable:hover {
 	background-color: #81ff94;
 }

 .finished {
 	font-weight: normal;
 	font-size: 20px;
 	text-align: center;

     border-radius: 25px;
     width: 50%;
 	margin: 10px;
 	padding: 10px;
 	background-color: #ffd1c9;
 }

 h2 {
  	text-align: center;
 	font-size: 40px;
 	margin: 50px;
 }

 #name {
     width: 100%;
     height: 50px;
 }

 .addBurgerButton {
 	font-weight: normal;
 	font-size: 20px;
     text-align: center;

 	border-radius: 25px;
     margin-top: 5px;
     margin-bottom: 10px;
 	padding: 10px;
     border: none;
     background-color: #c59439;
     position:relative;
     top:50%; 
     left:50%;
 }

.addBurgerButton:active {
	background-color: #FFC04C;
}

.footer {
	background-color: #FFC04C;
	padding: 20px 0;
}

